body{
  background-color: teal;
}
h1,h2,h3{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: Georgia;
  font-style: oblique;
}
div{
text-align: center;
}
input{
  text-align: justify;
}
#campo{
  height: 120px;
  width: 300px;
}
